{% extends "auctions/layout.html" %}

{% block title %}{{ auction.title }}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'watchlist'%}" method="POST">
            {% csrf_token %}
            <button type="submit" name="button" value="{{ auction.id }}" >Watchlist</button>
        </form>
    {% endif %}
    <h1>{{ auction.title }}</h1>
    Add: {{ auction.date }}<br>
    Owner: <a href="{% url 'index' %}">{{ auction.owner }}</a><br>
    Category: <a href="{% url 'index' %}">{{ auction.category }}</a><br>
    <img alt="Image" src={{ auction.imageURL }} width=300 height=300><br>
    <div>{{ auction.description }}</div><br>
    <h3>Actual offer: {{ auction.startingBid }}</li></h3>

{% endblock %}
