{% extends "auctions/layout.html" %}

{% block title %}{{ auction.title }}{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'watchlist'%}" method="POST">
            {% csrf_token %}
            <button type="submit" name="button" value="{{ auction.id }}" >Watchlist</button>
        </form>
    {% endif %}
    <h1>{{ auction.title }}</h1>
    Add: {{ auction.date }}<br>
    Owner: <a href="{% url 'userAuction' auction.owner %}">{{ auction.owner }}</a><br>
    Category: <a href="{% url 'categoryAuction' auction.category %}">{{ auction.category }}</a><br>
    <img alt="Image" src={{ auction.imageURL }} width=300 height=300><br>
    <div>{{ auction.description }}</div><br>
    {% if auction.active %}
        <h3>Actual offer: {{ auction.price }}</h3>
        {% if user.is_authenticated %}
            {% if user == auction.owner %}
                <form action={% url 'close' auction.id %} method="POST">
                    {% csrf_token %}
                    <button type="submit" name="closeButton">Close auction</button>
                </form>
            {% else %}
                <div>
                <form action={% url 'bid' auction.id %} method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit new bid"/>
                </form>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <h3>Final offer: {{ auction.bids.latest.price }}</h3>
        <h3>Winner: {{ auction.bids.latest.user }}</h3>
    {% endif %}
    {% if user.is_authenticated %}
        <div>
            <h1>Add comment:</h1>
            <form action={% url 'comment' auction.id %} method="POST">
                {% csrf_token %}
                <table>
                {{ commentForm.as_table }}
                </table>
                <input type="submit" value="Add new comment"/>
            </form>
        </div>
        {% if auction.comments.all %}
            <h1>Comments:</h1>
            {% for comment in auction.comments.all %}
                <div>
                    {{ comment.user }} {{ comment.time }}<br>
                    <strong>{{ comment.title }}</strong><br>
                    {{ comment.comment }}
                </div><br>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

