{% extends "auctions/layout.html" %}

{% block title %}{{ auction.title }}{% endblock %}

{% block body %}

    <h3>Actual offer: {{ auction.price }}</li></h3>
    {% if user.is_authenticated and notOwner %}
            <form action="{% url 'bid' auction.id %}" method="POST>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit new bid" formmethod="post" />
            </form>
    {% else %}
        <h1>You are not logged in or you are the owner of the auction</h1>
    {% endif %}
{% endblock %}

